/* navbar */

.navbar {
    display: flex;
    justify-content: space-around;
}

.ndv1 {
    display: flex;
    gap: 10px;
}

.ndv2 {
    display: flex;
    /* margin-right: 20px; */
    gap: 16px;
}

.nh2 {
    font-weight: 800;
}

.g-of-gamer {
    color: #FF42A5;
}

.nav-img {
    width: 66px;
    height: 30px;
}

.fuo {
    display: flex;
    border: none;
    border-radius: 3px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 5px 20px 4px 7px;
}

/* banner part */

.banner {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-image: url('../images/Group\ 14.png');
    background-size: cover;
    background-position: left left;
    background-repeat: no-repeat;
}

.btn1 {
    background-color: #FF42A5;
    color: #FFF;
    border: none;
    border-radius: 26px;
    padding: 16px;
}

.btn2 {
    background-color: #4EC5F7;
    color: #FFF;
    border: none;
    border-radius: 26px;
    padding: 16px;
}

/* main section-1 */

.section-1 {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    display: flex;
    /* justify-content: center; */
}

.s1div {
    text-align: right;
    margin-right: 60px;
}

/* main section-2 */

.s2t {
    text-align: center;
}

.s2i {
    display: flex;
    justify-content: center;
    /* gap: 5px; */
    margin: 10px 60px;
}

.s2i img {
    width: 70%;
}

/* section 3 */

.s3 {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

/* footer */

.footer {
    margin-top: 100px;
    background: #0B0223;
}

.fi {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.ful1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
}

.ful1>li {
    color: white;
}

.fin {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.ful2 {
    color: #FFF;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fp {
    color: #FFF;
    text-align: center;
    padding-bottom: 110px;
}